@import "../../../../styles/variables.scss";

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
  // background-color: #e6f2ff;

  @include mq(sm) {
    // width: 600px;
  }
  .main_content {
    width: 80%;
    @include mq(sm) {
      width: 100%;
    }
  }
}
