@import "../../../../styles/variables.scss";

.footer {
  width: 100vw;
  text-align: center;
  // background-color: #e6f2ff;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  margin-top: 3px;

  @include mq(sm) {
    width: 600px;
    background-color: red;
  }

  .footer_title {
    color: black;
  }
}
