@import "../../../../styles/variables.scss";

.footer {
  width: 100vw;
  text-align: center;
  background-color: #e6f2ff;
  box-shadow: black 0px 0px 2px 2px;
  @include mq(sm) {
    width: 600px;
    background-color: red;
  }

  .footer_title {
    color: black;
  }
}
