@import "../../../../styles/variables.scss";

.link {
  padding-left: 8px;
  a {
    color: black;
    &:hover {
      color: rgb(73, 216, 173);
    }
    @include mq(sm) {
      font-size: 12px;
    }
  }
}
