@import "../../../../styles/variables.scss";

.sub_title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  // margin: 60px 35px;
  // background-color: aqua;
}
