@import "../../variables.scss";

.works {
  //全体エリア
  // background-color: yellow;

  .works_content {
    padding: 20px;
    margin: 30px 0;

    .works_card {
      padding: 30px;
      height: 400px;
      background-color: #e6f2ff;
      border-radius: 10px;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

      @include mq(lg) {
        margin: 5px 0;
        // background-color: red;
      }
      @include mq(sm) {
        margin: 5px;
        // background-color: green;
      }
    }
  }
  //画像とリンクの親
  .link {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
}
