@import "../../variables.scss";

.works {
  //全体エリア
  // background-color: yellow;

  .works_content {
    padding: 20px;
    margin: 30px 0;

    .works_card {
      padding: 30px;
      height: 380px;
      background-color: #e6f2ff;
      border-radius: 10px;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

      @include mq(lg) {
        margin: 5px 0;
        // background-color: red;
      }
      @include mq(sm) {
        margin: 5px;
        // background-color: green;
      }
    }
    .works_flex {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid rgb(0, 0, 0);
      & > p {
        padding-top: 5px;
        @include mq(sm) {
          padding-top: 0px;
        }
      }
    }
    .day {
      @include mq(sm) {
        margin-top: 5px;
        font-size: 11px;
        // background-color: red;
      }
    }
  }
  //画像とリンクの親
  .link {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 23px 0;
  }
}
