@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary: #3ea8ff;
  --base-color: #806341;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.none {
  display: none;
  /* ボックスごと非表示 */
}
.hidden {
  text-indent: 100%;
  white-space: nowrap; /* 改行せずに表示 */
  overflow: hidden;
  /* ボックスの中身が不可視 */
}
body {
  width: 100%;
  height: 100%;
}
.b_color {
  background: var(--base-color);
}

/*
-----使う時-----
.primary { 
  background: var(--c-primary);
}
*/